@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat&family=Salsa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
	font-family: Salsa, Helvetica, sans-serif;
	
}

.hero{
    /* display: flex; */
    /* min-height: 100vh; */
    /* background-color: black; */
    /* background-image: url('./robot-with-blue-light-it.jpg'); */
    /* background-size: cover; */
    /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5); */
    /* background */

	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;   
    display: flex;
    flex-direction: column; 
    align-items: center;  
}
.hero video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
    /* display: flex;
  flex-direction: column; 
  align-items: center; */
}
.hero h1 {
	margin-bottom: 15px;
	font-size: 135px;
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.hero p {
	margin-bottom: 40px;
	font-size: 25px;
	font-family: Montserrat;
}
.hero a.boxBtn {
	padding: 15px 35px;
	background: transparent;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	transition: all .5s;
}
.hero a.boxBtn:hover {
	background: #fff;
	color: #000;
}
@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}
	.hero h1 {
		font-size: 32px;
	}
	.hero p {
		font-size: 20px;
	}
	.hero a.boxBtn {
		padding: 15px 40px;
	}
}
/* .content{
   
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

.content h1{
    font-size: 56px;
    font-weight: bolder;

}

.content p{
    font-size: 22px;
    margin: 15px 0;
    max-width: 550px;
    letter-spacing: 2px;
}

.content a{
    color: inherit;
    text-decoration: none;
    background-color: purple;
    padding: 12px 24px;
    font-size: 22px;
    border-radius: 10px;
} */

